# Global data for Greendrake
#

# Absolute path for data, when either used locally or at some cloud provider.
CATEGORIES_DATA = '/complete/path/for/categories/data.csv'
RAW_DATA        = '/complete/path/for/rawdata.txt'
ARCHIVE_DATA    = '/complete/path/for/archive.txt'
OPTIMIZED_DATA  = '/complete/path/for/optimized.txt'

# AWS Config data
AWS_CONFIG_1=''
AWS_CONFIG_2=''
AWS_CONFIG_3=''

