# Global data for Greendrake
#

# Strategy for data
# Supported values: One of the values below
#    local   = files are stored locally.
#    aws     = files are stored on AWS cloud (S3 bucket).
#    default = local
DATA_STRATEGY=local

# Absolute path for data, when either used locally or at some cloud provider.
CATEGORIES_DATA = '/complete/path/for/categories/data.csv'
RAW_DATA        = '/complete/path/for/rawdata.txt'
ARCHIVE_DATA    = '/complete/path/for/archive.txt'
OPTIMIZED_DATA  = '/complete/path/for/optimized.txt'

# AWS Config data
# AWS_CONFIG_1=''
# AWS_CONFIG_2=''
# AWS_CONFIG_3=''

